<%= form_with model: @article, local: true do |f| %>
  <p>
    <%= f.label :gyme_name  %>
    <%= f.text_field :gyme_name, required: true %>
  </p>
  <p>
    <%= f.label :addres %>
    <%= f.text_field :addres, required: true %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </p>
  <%= f.submit "送信" %>
<% end %>
